*{

    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    

}

header {

    background-image: url(headerimg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -100px;
    height: 400px;
    width: 100%;

}

header h1{

    padding-top: 150px;
    padding-left: 100px;
    font-size: 50px;
    color: white;    

}

main .background2{

    background-color: black;

}

.background1{

    background-color: black;

}

.inicio{

    display: flex;
    text-align: center;
    margin-left: 300px;
    margin-top: 100px;

}

.inicio img{

    margin-left: 40px;
    border: 3px solid rgb(233, 233, 233);
 
}

.inicio p{

    color: white;
    font-size: 20px;
    border: 2px solid rgb(179, 89, 89); 
    border-radius: 10px;
    width: 400px;
    height: 205px;
    text-align: center;

}

.gfr{

   width: 450px;
   height: 300px;
    margin-bottom: 80px;

}

.gfr p{

    text-align: center;
    font-size: 20px;
    font-family:monospace;
    color: rgb(0, 190, 0);
    width: 320px;
    

}

.intro h2{

    width: 150%;
    height: 100px;
    background-color: rgb(97, 50, 28);
    color: white;
    font-size: 40px;
    padding-left: 570px;
    padding-top: 40px;
    margin-top: 50px;

}

#A{

    text-align: center;
    display: flex;
    margin-left: 200px;

}

#A img{

    width: 205px;
    height: 200px;
    margin-left: 50px;
    border: 3px solid rgb(233, 233, 233);
    
}

.barraCMD1{

    margin-top: 150px;
    background-color: white;
    height: 15px;
    width: 192%;


}

.barraCMD2{

    background-color: white;
    height: 15px;
    width: 192%;


}

#blackbarra{

    background-color: rgb(36, 0, 77);
    height: 350px;
    width: 192%;
    color: white;
    font-size: 25px;

}

#blackbarra h2{

    background-color: rgb(36, 0, 77);
    margin-left: 540px;
    padding-top: 20px;

}

#blackbarra img{

    margin-left: 555px;

}

#B {

    display: flex;
    margin-left: 180px;
    margin-top: 100px;

}

#B img{

    width: 255px;
    height: 250px;
    margin-left: 50px;
    border: 3px solid rgb(233, 233, 233);

}

.CMDEXE{

    margin-left: 280px;
    margin-top: 70px;
    background-color: rgb(0, 0, 0);


}

#barrinha1{

    background-color: rgb(185, 185, 185);
    height: 15px;
    width: 192%;
    margin-top: 30px;

}

#barrinha2{

    background-color: rgb(185, 185, 185);
    height: 15px;
    width: 192%;
    margin-top: 50px;

}

#minicuriosidade img{

    border: 3px solid rgb(233, 233, 233);
    margin-left: 50px;

}

#minicuriosidade p{

    margin-top: 30px;
    border: 3px solid rgb(71, 14, 78);
    margin-left: 50px;
    border-radius: 10px;
    width: 500px;
    height: 160px;
    color: white;
    text-align: center;
    padding-top: 8px;

}

#minicuriosidade{

    display: flex;
    margin-left: 50px;
    margin-top: 30px;

}

.chi img{

    border: 3px solid rgb(233, 233, 233);
    width: 250px;
    height: 220px;
    margin-left: 50px;

}

#barrinha3{

    background-color: rgb(185, 185, 185);
    height: 15px;
    width: 192%;
    margin-bottom: 50px;

}

.bara1{

    background-color: rgb(133, 133, 68);
    width: 192%;
    height: 400px;

}

.bara1 h2{

    font-size: 40px;
    color: black;
    margin-left: 570px;
    padding-top: 15px;

}

.bara1 img{

    margin-top: 20px;
    padding-left: 485px;

}

#C{

    display: flex;

}

#C p{

    margin-left: 50px;
    font-size: 20px;
    color: white;
    border: 3px solid rgb(255, 255, 172);
    width: 520px;
    height: 170px;
    padding-top: 20px;
    text-align: center;

}

#barrinha4{

    background-color: rgb(255, 197, 245);
    height: 15px;
    width: 192%;
    margin-top: 50px;
    margin-bottom: 50px;

}

#Cpt2{

    display: flex;
    margin-left: 300px;


}

#Cpt2 p{

    color: white;
    text-align: center;
    border: 3px solid rgb(255, 112, 248);
    border-radius: 10px;
    width: 400px;
    height: 135px;
    padding-top: 25px;
    margin-left: 30px;

}

.bara2 h2{

    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-left: 540px;
    padding-top: 10px;

}

.bara2 img{

    margin-left: 525px;
    padding-bottom: 15px;
    padding-top: 10px;

}

.bara2{

    background-color: rgb(212, 189, 139);
    width: 192%;

}

#barrinha5{

width: 192%;
background-color:rgb(119, 0, 0);
height: 15px;

}

#barrinha6{

width: 192%;
background-color:rgb(119, 0, 0);
height: 15px;

}

.Fox img{

    border: 3px solid rgb(233, 233, 233);

}

#D p{

    border: 3px solid rgb(255, 65, 65);
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 600px;
    height: 220px;
    margin-right: 50px;

}

#D{

    display: flex;
    margin-left: 150px;

}

